@import "tailwindcss";

/* GENERAL STYLES */

*:not(body) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

:root {
  font-family: TTHoves, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}
